.main-page {
  height: 100vh;
  overflow: hidden;
  &_right {
    height: 100%;
    width: calc(73% - 170px);
    display: inline-flex;
    flex-direction: column;
    padding: 0 100px 0 70px;
    overflow-y: overlay;
    vertical-align: top;
    @media screen and (max-width: 1350px) {
      padding-right: 40px;
      width: calc(100% - 482px);
    }
    @media screen and (max-width: 1260px){
      width: calc(100% - 462px);
    }
  }
}
