.main-page {
  height: 100vh;
  overflow: hidden;
  &_right {
    height: 100%;
    width: calc(73% - 140px);
    display: inline-flex;
    flex-direction: column;
    padding: 0 100px 0 40px;
    overflow-y: overlay;
    vertical-align: top;
    @media screen and (max-width: 1260px){
      width: calc(100% - 482px);
    }
  }
}
