.info-block {
  padding: 20px 60px;
  &_reset-password{
    margin-top: 40px;
    form {
      display: flex;
      flex-direction: column;
      align-items: start;
      .MuiTextField-root {
        width: 270px;
        margin-bottom: 20px;
      }
      button {
        margin-top: 20px;
      }
    }
  }
  section {
    margin-bottom: 40px;
  }
  .change-photo {
    width: 70%;
    max-width: 300px;
    background: none;
    z-index: 3;
    position: relative;
    margin-bottom: 20px;
    min-height: 200px;
    img {
      z-index: -1;
      width: 100%;
    }
    .fade {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 54%;
      top: 0;
      text-align: center;
      background: rgba(236, 248, 249, 0.7);
      vertical-align: center;
      padding-top: calc(50% - 16px);
      text-transform: uppercase;
      color: #596EEF;
      font-size: 16px;
      line-height: 16px;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      cursor: pointer;
    }
    &:hover {
      img {
        opacity: 0.3;
      }
      .fade {
        opacity: 1;
      }
    }
  }
  .section-title {
    color: #464646;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
  }
  &_person {
    .section-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      & > * {
        width: 24%;
        margin-right: 14%;
        margin-bottom: 25px;
        &:nth-of-type(3n) {
          margin-right: 0;
        }
        input {
          color: #464646;
          font-family: "Montserrat", sans-serif;
          font-weight: 600;
        }
        label {
          margin-top: -12px;
          color: #8c8c8c;
          opacity: 0.5;
          font-weight: 600;
          font-family: "Montserrat", sans-serif;
          font-size: 16px;
          @media screen and (max-width: 1400px) {
            font-size: 14px;
          }
          &[data-shrink='true'] {
            margin-top: -5px;
          }
        }
      }
    }
  }
  &_main {
    .section-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .item {
        width: 40%;
        margin-right: 6%;
        min-width: 250px;
        display: flex;
        margin-bottom: 15px;
        align-items: center;
        padding-bottom: 7px;
        font-weight: 600;
        .text {
          font-weight: 600;
          font-family: "Montserrat", sans-serif;
          opacity: 0.6;
          strong {
            opacity: 1;
          }
        }
        img {
          height: 40px;
        }
        .image-container {
          text-align: center;
          margin-right: 10px;
          min-width: 50px;
        }
        span:nth-of-type(2) {
          opacity: 0.6;
          padding-bottom: 10px;
          flex-grow: 2;
          border-bottom: 1px solid #e2eeff;
        }
        @media screen and (max-width: 1650px) {
          &.moved {
            order: 2;
          }
        }
      }
      .MuiGrid-container {
        width: 40%;
        min-width: 280px;
        margin-bottom: 25px;
        align-items: center;
        flex-wrap: nowrap;
        input, .MuiSelect-root {
          font-family: "Montserrat", sans-serif;
        }
        img {
          height: 40px;
        }
        .MuiGrid-item {
          text-align: right;
          min-width: 55px;
          &:nth-of-type(2) {
            flex-grow: 2;
          }
        }
        .MuiInputBase-root, .MuiFormControl-root {
          width: 100%;
          text-align: left;
          legend {
            visibility: visible;
            color: rgba(140, 140, 140, 0.5);
            font-family: "Montserrat", sans-serif;
            font-size: 12px;
            font-weight: 600;
            span {
              margin-top: -10px;
              background: white;
              white-space: nowrap;
            }
          }
        }
        .MuiTextField-root {
          label {
            color: rgba(140, 140, 140, 0.5);
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
          }
          legend {
            visibility: hidden;
          }
        }
      }
    }
  }
  &_main-results {
    .MuiTextField-root {
      width: 100%;
      background-color: #e2eeff;
      textarea {
        font-weight: 500;
        color: #464646;
        font-family: "Montserrat", sans-serif;
        padding: 10px;
      }
    }
  }
  &_key-words {
    .tip {
      display: block;
      opacity: 0.7;
      margin-bottom: 20px;
      margin-top: -10px;
    }
    .keywords {
      width: 40%;
      min-width: 200px;
      span {
        color: #596eef;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 18px;
        padding-right: 20px;
      }
    }
  }
  &_publications {
    .section-content {
      max-width: 100%;
      background: #e2eeff;
      padding: 35px;
      border-radius: 20px;
      .publication {
        background: white;
        min-height: 60px;
        display: flex;
        justify-content: space-between;
        padding: 0 20px 0 10px;
        margin-bottom: 15px;
        align-items: center;
        .MuiFormControl-root {
          flex-grow: 1;
          margin-right: 15px;
        }
        .MuiInputBase-root:after, .MuiInputBase-root:before {
          display: none;
        }
        input {
          font-family: "Montserrat", sans-serif;
        }
        img {
          border-radius: 50%;
          background: #596eef;
          width: 20px;
          cursor: pointer;
        }
      }
      .new-publication {
        cursor: pointer;
        background: white;
        text-align: center;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          border-radius: 50%;
          background: #596eef;
          width: 24px;
          margin-right: 10px;
        }
      }
    }
  }
  button {
    width: fit-content;
    min-width: 340px;
    border-radius: 40px;
    padding: 20px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
  }
}
.crop-modal {
  .MuiPaper-root {
    padding: 20px 40px;
    .images {
      margin: 20px 0;
      display: flex;
      align-items: flex-end;
      img {
        border: 1px solid #596EEF;
        margin-right: 20px;
        border-radius: 50%;
        &.big {
          width: 120px;
        }
        &.medium {
          width: 50px;
        }
        &.small {
          width: 24px;
          margin-right: 0;
        }
      }
    }
    .action-buttons {
      text-align: center;
      button {
        margin-right: 20px;
        border-radius: 34px;
        padding: 15px 28px;
      }
    }
  }
}