.find-form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
    .MuiFormControl-root {
      width: 250px;
      margin-bottom: 20px;
      background: white;
      padding: 6px 15px;
      border-radius: 32px;
      height: 56px;
      label {
        color: #CBCBCB;
        font-weight: bold;
        padding: 0 5px;
        margin-top: 5px;
        font-family: "Montserrat", sans-serif;
        &.MuiInputLabel-shrink {
          margin-left: 10px;
          margin-top: 10px;
        }
      }
      fieldset {
        border: none;
      }
      .MuiSelect-root {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        &:focus {
          background: none;
        }
      }
      svg {
        fill: #596EEF;
      }
    }
  .more-search {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #596EEF;
    width: 200px;
    align-self: flex-start;
  }
  button {
    margin-top: 20px;
    padding: 16px 23px;
    border-radius: 25px;
  }
}



















