.chat-element {
  display: flex;
  align-items: center;
  padding: 30px 35px;
  cursor: pointer;
  &.unread {
    background: rgba(226, 238, 255, 0.5);
  }
  &:hover {
    background: rgba(226, 238, 255, 0.8);
    transition: background-color 0.3s;
  }
  img {
    border-radius: 50%;
    width: 70px;
    align-self: flex-start;
    margin-right: 20px;
  }
  border-bottom: 1px solid #e2eeff;
  &:first-of-type {
    border-top: 1px solid #e2eeff;
  }
  &_info {
    padding-top: 15px;
    .name {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      color: #464646;
      font-size: 15px;
    }
    .message {
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      font-weight: 600;
      color: #8c8c8c;
    }
    .time {
      display: block;
      font-family: "Montserrat", sans-serif;
      font-size: 13px;
      color: #cbcbcb;
      font-weight: 600;
    }
  }
}