.ymaps-2-1-77 {
  &-b-cluster-tabs {
    width: 100% !important;
    &__section_type_nav {
      width: 180px !important;
    }
    &__item-header {
      display: none !important;
    }
    &__menu-item {
      margin-right: 5px;
      border-radius: 20px !important;
      &-text {
        color: #cbcbcb !important;
        font-size: 15px;
        font-weight: 600;
        padding: 6px 20px;
      }
      &_current_yes {
        background: #596eef !important;
        border-radius: 20px !important;
        transition: background-color 0.3s;
        * {
          color: white !important;
        }
      }
    }
  }
  &-inner-panes {
    border: 2px solid #596EEF;
    border-radius: 40px;
  }
  &-balloon {
    width: 600px;
    &__content {
      width: 580px !important;
      & > *{
        overflow-y: scroll !important;
        overflow-x: hidden !important;
        width: 580px !important;
      }
      &:first-child {
        width: 580px !important;
      }
    }
    .balloon-content {
      max-width: 350px;
      max-height: 300px;
      overflow-y: scroll;
      padding: 10px;
      &_person {
        display: flex;
        padding: 10px 20px;
        align-items: center;
        background-color: #F6F6F6;
        border-radius: 40px;
        img {
          margin-right: 20px;
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
        .name {
          font-size: 18px;
          font-family: "Montserrat", sans-serif;
          color: #464646;
          font-weight: 600;
          line-height: 24px;
        }
      }
      &_info {
        margin-top: 20px;
        &__line {
          display: flex;
          align-items: center;
          .image {
            min-width: 24px;
            min-height: 24px;
            width: 24px;
            height: 24px;
            margin-right: 10px;
          }
          .location {
            background: url("../../assets/location.svg") no-repeat center;
          }
          .expertise {
            background: url("../../assets/expertise.svg") no-repeat center;
          }
        }
      }
    }
  }
}