.ymaps-2-1-77 {
  &-map {
    &-bg {
      background-image: none !important;
    }
  }
  &-b-cluster-tabs {
    width: 100% !important;
    &__section_type_nav {
      width: 180px !important;
    }
    &__item-header {
      display: none !important;
    }
    &__menu-item {
      margin-right: 5px;
      border-radius: 20px !important;
      &-text {
        color: #cbcbcb !important;
        font-size: 15px;
        font-weight: 600;
        padding: 6px 20px;
        font-family: "Montserrat", sans-serif;
      }
      &_current_yes {
        background: #596eef !important;
        border-radius: 20px !important;
        transition: background-color 0.3s;
        * {
          color: white !important;
        }
      }
    }
  }
  &-inner-panes {
    border-radius: 40px;
  }
  &-balloon {
    width: 600px;
    box-shadow: none !important;
    &__layout {
      padding: 10px 25px 10px 10px !important;
      border-radius: 20px !important;
      box-shadow: 0 0 1px 0 black;
    }
    &__tail {
      display: none !important;
    }
    &__content {
      width: 580px !important;
      & > *{
        overflow-y: scroll !important;
        overflow-x: hidden !important;
        width: 580px !important;
      }
      &:first-child {
        width: 580px !important;
      }
    }
    .balloon-content {
      max-width: 350px;
      max-height: 300px;
      padding: 10px;
      font-family: "Montserrat", sans-serif;
      &_person {
        display: flex;
        padding: 10px 20px;
        align-items: center;
        background-color: #F6F6F6;
        border-radius: 40px;
        img {
          margin-right: 20px;
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
        .name {
          font-size: 18px;
          font-family: "Montserrat", sans-serif;
          color: #464646;
          font-weight: 600;
          line-height: 24px;
        }
      }
      &_info {
        margin-top: 20px;
        &__line {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          font-size: 15px;
          color: black;
          font-weight: 600;
          .image {
            min-width: 24px;
            min-height: 24px;
            width: 24px;
            height: 24px;
            margin-right: 10px;
          }
          .location {
            background: url("../../assets/location.svg") no-repeat center;
          }
          .expertise {
            background: url("../../assets/expertise.svg") no-repeat center;
          }
          .academicDegree {
            background: url("../../assets/degree.svg") no-repeat center;
            background-size: contain;
          }
          .email {
            background: url("../../assets/email.svg") no-repeat center;
            background-size: contain;
          }
          .phone {
            background: url("../../assets/phone.svg") no-repeat center;
            background-size: contain;
          }
        }
      }
      .more-info {
        float: right;
        padding: 12px 30px;
        background: #e2eeff;
        border-radius: 20px;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        color: #596EEF;
        font-size: 15px;
        text-decoration: none;
        &:hover {
          background-color: #c2cedf;
          transition: background-color 0.3s;
        }
      }
    }
  }
}