.news-block {
  margin-top: 40px;
  h4 {
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    color: #464646;
  }
  &_container {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
  }
  &_element {
    background: #596EEF;
    padding: 50px 40px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 40px;
    text-decoration: none;
    flex-grow: 2;
    width: calc((100% - 40px)/3 - 80px);
    &:nth-of-type(3n) {
      margin-right: 0;
    }
    span {
      display: block;
      color: white;
      font-weight: 600;
      font-family: "Montserrat", sans-serif;
      &.news-date {
        // Стили для даты новости
        font-size: 25px;
      }
      &.news-title {
        font-size: 45px;
        // Стили для заголовка новости
      }
      @media screen and (max-width: 1400px) {
        &.news-date {
          font-size: 16px;
        }
        &.news-title {
          font-size: 26px;
        }
      }
      @media screen and (max-width: 1024px) {
        &.news-title {
          font-size: 22px;
        }
      }
      @media screen and (max-width: 600px) {
        &.news-title {
          font-size: 18px;
        }
        &.news-date {
          font-size: 14px;
        }
      }
    }
  }
}